/*
* @Author: iMocco
* @Date:   2018-07-27 17:59:36
* @Last Modified by:   iMocco
* @Last Modified time: 2018-08-06 15:04:30
*/
.index{
	.tags{
		padding: 10px;
		background: #fff;
		position: fixed;
		width: 100%;
	}
	.view{
		padding: 10px;
		overflow: auto;
		padding-top: 50px;
	}
	.slide-fade-enter-active {
		transition: opacity .8s ease;
	}
	.slide-fade-leave-active {
		// transition: opacity 1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}
	.slide-fade-enter, .slide-fade-leave-to{
		opacity: 0;
	}
	.magin-div{
		margin: 10px -10px;

	}

	.text-right{
		text-align: right;
	}
	.index-view{
		padding: 10px;
	}
}
.index{
	border: 1px solid #d7dde4;
	background: #f5f7f9;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	height: 100%;
}
.layout-logo{
	width: 100px;
	height: 30px;
	background: #5b6270;
	border-radius: 3px;
	float: left;
	position: relative;
	top: 15px;
	left: 20px;
}
.layout-nav{
	width: 180px;
	margin: 0 auto;
	float: right;
}
