/*
* @Author: iMocco
* @Date:   2018-07-27 17:59:36
* @Last Modified by:   iMocco
* @Last Modified time: 2018-08-14 18:39:19
*/
.index{
	width: 100%;
	height: 100%;
	.tags{
		padding: 10px;
		background: #fff;
		position: fixed;
		width: 100%;
	}
	.view{
		padding: 10px;
		overflow: auto;
		padding-top: 50px;
	}
	.slide-fade-enter-active {
		transition: opacity .8s ease;
	}
	.slide-fade-leave-active {
		// transition: opacity 1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}
	.slide-fade-enter, .slide-fade-leave-to{
		opacity: 0;
	}
	.magin-div{
		margin: 10px -10px;

	}

	.text-right{
		text-align: right;
	}
	.index-view{
		padding: 10px;
		width: 100%;
		height: 100%;
		background: red;
	}
}
.index{
	border: 1px solid #d7dde4;
	background: #f5f7f9;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	height: 100%;
}
.layout-logo{
	width: 100%;
	height: 64px;
	.logo{
		width: 100px;
		height: 30px;
		background: #5b6270;
		border-radius: 3px;
	}
}
.layout-nav{
	float: right;
	width: 400px;
	text-align: right;
	height: 100%;
}
.menu-icon{
	transition: all .3s;
}
.rotate-icon{
	transform: rotate(-90deg);
}
.menu-item span{
	display: inline-block;
	overflow: hidden;
	width: 69px;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: bottom;
	transition: width .2s ease .2s;
}
.menu-item i{
	transform: translateX(0px);
	transition: font-size .2s ease, transform .2s ease;
	vertical-align: middle;
	font-size: 16px;
}
.collapsed-menu span{
	width: 0px;
	transition: width .2s ease;
}
.collapsed-menu i{
	transform: translateX(5px);
	transition: font-size .2s ease .2s, transform .2s ease .2s;
	vertical-align: middle;
	font-size: 20px;
}
.custom-bread-crumb{
	margin-left: 10px;
	float: left;
}
.rotate-a{
	float: left;
}
