/*
* @Author: iMocco
* @Date:   2018-07-27 17:59:36
* @Last Modified by:   iMocco
* @Last Modified time: 2018-07-27 18:09:12
*/
.index{
	.tags{
		padding: 10px;
		background: #fff;
	}
	.view{
		padding: 10px;
	}
}